.shopCategoryBanner {
  display: block;
  margin: 1.875rem auto;
  width: 82%;
}

.shopCategoryIndexSort {
  display: flex;
  margin: 0 10.625rem;
  justify-content: space-between;
  align-items: center;

  span {
    font-weight: 600;
  }
}

.shopCategorySort {
  padding: 0.625rem 1.25rem;
  border-radius: 2.5rem;
  border: 1px solid #888;
}
.shopCategoryProducts {
  margin: 1.25rem 10.625rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 5rem;
}
.shopcategoryLoadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9.375rem auto;
  width: 14.5625rem;
  height: 4.3125rem;
  border-radius: 4.6875rem;
  background-color: #ededed;
  color: #787878;
  font-size: 1.125rem;
  font-weight: 500;
}

@media (max-width: 1280px) {
  .shopCategoryBanner {
    margin: 1.25rem auto;
    width: 90%;
  }
  .shopCategoryIndexSort {
    width: 90%;
    margin: auto;
    p {
      font-size: 12px;
    }
  }
  .shopCategorySort {
    padding: 5px 10px;
    font-size: 12px;
  }
  .shopCategoryProducts {
    width: 90%;
    margin: 10px auto;
    row-gap: 2.5rem;
  }
  .shopCategoryProducts .item {
    margin: auto;
  }
  .shopcategoryLoadmore {
    margin: 6.25rem auto;
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .shopCategoryBanner {
    width: 95%;
  }
  .shopCategoryProducts {
    width: 95%;
  }
  .shopcategoryLoadmore {
    margin: 3.75rem auto;
    width: 9.375rem;
    height: 2.5rem;
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .shopCategoryProducts {
    grid-template-columns: 1fr 1fr;
  }
}
