.hero {
  height: 100vh;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  display: flex;
  /* width: 100%; */
}

.heroLeft {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  padding-left: 11.25rem;
  line-height: 1.1;

  h2 {
    color: #090909;
    font-size: 1.625rem;
    font-weight: 600;
  }
  p {
    color: #171717;
    font-weight: 700;
    font-size: 6.25rem;
  }
}

.heroHandIcon {
  display: flex;
  align-items: center;
  gap: 1.25rem;

  img {
    width: 6.25rem;
  }
}

.heroLatestBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
  width: 19.375rem;
  height: 4.375rem;
  border-radius: 4.6875rem;
  margin-top: 1.875rem;
  background-color: #ff4141;
  color: #fff;
  font-size: 1.375rem;
  font-weight: 500;
}

.heroRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  img {
    width: 60%;
  }
}

@media (max-width: 1280px) {
  .heroLeft {
    padding-left: 6.25rem;
    h2 {
      font-size: 1.375rem;
    }
    p {
      font-size: 3.75rem;
    }
  }
  .heroHandIcon img {
    width: 5rem;
  }
  .heroLatestBtn {
    gap: 0.625rem;
    width: 15.625rem;
    height: 3.75rem;
    margin-top: 1.25rem;
    font-size: 1.125rem;
  }

  .heroRight img {
    width: 27.25rem;
  }
}
@media (max-width: 1024px) {
  .heroLeft {
    padding-left: 5rem;
    h2 {
      font-size: 1.25rem;
    }
    p {
      font-size: 3.125rem;
    }
  }
  .heroHandIcon img {
    width: 4.0625rem;
  }
  .heroLatestBtn {
    width: 13.75rem;
    height: 3.125rem;
    font-size: 1rem;
  }

  .heroRight img {
    width: 25rem;
  }
}
@media (max-width: 800px) {
  .heroLeft {
    padding-left: 1.875rem;
    h2 {
      font-size: 1rem;
    }
    p {
      font-size: 2.5rem;
    }
  }
  .heroHandIcon img {
    width: 3.125rem;
  }
  .heroLatestBtn {
    width: 10.9375rem;
    height: 2.5rem;
    font-size: 0.8125rem;
  }

  .heroRight img {
    width: 18.75rem;
  }
}

@media (max-width: 500px) {
  .hero {
    flex-direction: column;
  }
  .heroRight {
    display: none;
  }
  .heroLeft h2 {
    font-size: 1.125rem;
  }
  .heroLeft p {
    font-size: 3.125rem;
  }
  .heroHandIcon img {
    width: 55px;
  }
  .heroLatestBtn {
    width: 12.5rem;
    height: 2.8125rem;
    font-size: 0.875rem;
  }
}
