.newsLetter {
  width: 65%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 8.75rem;
  margin-bottom: 9.375rem;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
  gap: 1.875rem;

  h1 {
    color: #454545;
    font-size: 3.4375rem;
    font-weight: 600;
  }
  p {
    color: #454545;
    font-size: 1.25rem;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    width: 45.625rem;
    height: 4.375rem;
    border-radius: 5rem;
    border: 1px solid #e3e3e3;
  }
  input {
    width: 31.25rem;
    margin-left: 1.875rem;
    border: none;
    outline: none;
    color: #616161;
    font-size: 1rem;
  }
  button {
    width: 13.125rem;
    height: 4.375rem;
    border-radius: 5rem;
    background-color: black;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
}

@media (max-width: 1280px) {
  .newsLetter {
    padding: 0 5rem;
    margin-bottom: 7.5rem;
    gap: 1.25rem;
    h1 {
      font-size: 2.25rem;
    }
    p {
      font-size: 1rem;
    }
    div {
      width: 37.5rem;
      height: 3.75rem;
    }
    .input {
      width: 25rem;
    }
    button {
      width: 10rem;
      height: 3.75rem;
    }
  }
}
@media (max-width: 1024px) {
  .newsLetter {
    margin-bottom: 4rem;
    h1 {
      font-size: 1.875rem;
    }
    p {
      font-size: 14px;
    }
    div {
      width: 31.25rem;
      height: 3.125rem;
    }
    .input {
      width: 18.75rem;
      font-size: 0.875rem;
    }
    button {
      width: 7.5rem;
      height: 3.125rem;
      font-size: 14px;
    }
  }
}
@media (max-width: 800px) {
  .newsLetter {
    margin-bottom: 1.875rem;
    height: 35vh;
    h1 {
      font-size: 1.125rem;
    }
    p {
      font-size: 12px;
    }
    div {
      width: 25rem;
      height: 2.5rem;
    }
    .input {
      width: 12.5rem;
      font-size: 13px;
    }
    button {
      width: 6.25rem;
      height: 2.5rem;
      font-size: 12px;
    }
  }
}
@media (max-width: 500px) {
  .newsLetter {
    margin-bottom: 1.875rem;
    height: 25vh;
    width: 100%;
    padding: 0;
    gap: 15px;
    h1 {
      font-size: 1rem;
    }
    p {
      font-size: 13px;
      max-width: 12.5rem;
      text-align: center;
    }
    div {
      width: 18.125rem;
      height: 2.5rem;
    }
    .input {
      width: 8.125rem;
    }
  }
}
